.hero {
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/628/74/desktop-wallpaper-dark-souls-dark-souls-pinterest-black-armor.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px black (0,0,0);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.hero h1 {
    font-size: 4rem;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cards img {
    height: 200px;
    object-fit: cover;
}

.game {
    transform: transform 0.3s;
}

.game:hover {
    transform: scale(1.05);
}

.testimonios {
    border: none;
    border-left: 4px solid #007bff;
    height: 100%;
}